[Unit]
Description=Reload Nginx after Dani-Dex Remote TLS renewal
After=nginx.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/nginx -t
ExecStart=/bin/systemctl reload nginx
